.search__container {
  color: blue !important;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
}
img {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.test__item {
  color: red;
}
